# Node
node_modules/
dist/
.vscode/
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Vite
.vite/

# OS / IDE
Thumbs.db
*.swp
.idea/

# Others you mencionaste
.vs/
package-lock.json
